body {
    font-family: Arial, sans-serif;
}

h3 {
    margin-top: 20px;
}
h3:nth-of-type(1) {
    color: red;
}
li:nth-child(1) {
    color: purple;
}
h3:nth-of-type(2) {
    color: blue;
}
li:nth-child(){
    color: red;
}
h3:nth-of-type(3) {
    color: green;
}
li:nth-child(3) {
    color: green;
}
h3:nth-of-type(4) {
    color: rgb(16, 54, 104);
}
h3:nth-of-type(5) {
    color: orange;
}
li:hover {
    background-color: black;
}
li:active {
    background-color: black;
}
li:focus {
    outline: 2px solid lightgreen;
}
li:nth-child(even) {
    background-color: green;
}
li:nth-child(odd) {
    background-color: blue;
}
ul:first-of-type {
    border: 1px solid gray;
}
ul:last-of-type {
    border: 1px solid gray;
}
ul:nth-of-type(odd) {
    background-color: lightgoldenrodyellow;
}
ul:nth-of-type(even) {
    background-color: lightyellow;
}
ul:not(:first-of-type) {
    margin-top: 12px;
}
